.overview-select-yearly {
  padding: 0 2px;
  display: flex;
  justify-content: center;
}

.overview-select-monthly {
  width: 100%;
    height: 2rem;
   display: flex;
   justify-content: space-evenly;
}