
.overview-chart-container {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
}

.overview-chart-container-chart {
    flex: 1.1
}

.overview-chart-container-info {
    flex: 0.5
}

@media screen and (max-width: 767px) {
    .overview-chart-container {
        display: flex;
        flex-direction: column;
    }

    .overview-chart-container-info {
        padding: 0 16px;
    }
}

.centering-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outer-div {
    height: 100%;
}

p {
    font-size: 24px;
}

.nothing-to-display {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nothing-to-display > p {
    font-size: 3rem;
}