body {
  font-family: 'Dosis', sans-serif;
}

.App {
  height: 100%;
}

.center-div {
  margin: auto;
}

.center-elements-in-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding {
  padding: 3em 0;
}

.text-align-center {
  text-align: center;
}

.homepage {
  width: 30%;
  padding: 7em 0;
}

.google-btn {
  margin: 0 4em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.sideMenuElement {
  padding-left: 2em;
  margin: 1em 0;
}

.radioBtn {
  display: block;
  height: 30px;
}

#radioBtns {
  height: 200px;
}

.border-form {
  border: 1px solid black;
  padding: 3em 0;
  border-radius: 10px;
  box-shadow: 3px 3px 15px 7px #b1b1b1;
}

.add-expense-button {
  margin: 8px 12px;
}
